<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12305641445-k87od41po0fnif3mbnun9l2vsh22o6d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12305641445-k87od41po0fnif3mbnun9l2vsh22o6d4</string>
	<key>API_KEY</key>
	<string>AIzaSyBYyZortk-GXhFJ8NqRGj2TG1mVdnlu46Q</string>
	<key>GCM_SENDER_ID</key>
	<string>12305641445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestport</string>
	<key>PROJECT_ID</key>
	<string>best-port</string>
	<key>STORAGE_BUCKET</key>
	<string>best-port.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12305641445:ios:8ca9c876d5ada160f5c90c</string>
</dict>
</plist>